# Local environment (sensitive)
.env
.env.local

# Python
__pycache__
.pytest_cache/
*.pyc

# Docker
*.log
docker-compose-local.yml

# Ansible
ansible.cfg

# Terraform
terraform/.terraform
.terraform*
backend.tfvars
*plan*
*tfstate*

# shared
terraform/inventory
